
      body {
        font-family: 'Inter', sans-serif;
        -webkit-tap-highlight-color: transparent;
      }
      .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
      }
      .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
      }
      .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #e5e7eb;
        border-radius: 10px;
      }
      .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #374151;
      }
      .ios-blur {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }
      body {
      min-height: max(884px, 100dvh);
    }
